@import "tailwindcss";

/* Background */
body {
  background: #f5f5f5;
  font-family: 'Inter', sans-serif;
}

/* Smooth animation for every component */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 1.0s ease-out forwards;
}

/* Mouse follower */
.mouse-follower {
  background-color: #333;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: fixed;
}

/* Cards */

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadeIn {
  opacity: 0;
  animation-fill-mode: forwards;
}

/* Typing Effect Blinking Cursor */
.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: black;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* Pulsing effect for current node */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1.0);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.animate-pulse {
  animation: pulse 3s infinite;
}
