@import "tailwindcss";

/*Smooth animation for every component*/

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}

/* Animation for profile picture */
@keyframes bounceInTop {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  80% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-in-top {
  animation: bounceInTop 0.8s ease-out;
}

/* Animations for resume buttons */

@keyframes bounceInLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  60% {
    transform: translateX(5px);
    opacity: 1;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce-in-left {
  animation: bounceInLeft 0.8s ease-out;
}

@keyframes bounceInRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  60% {
    transform: translateX(-5px);
    opacity: 1;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce-in-right {
  animation: bounceInRight 0.8s ease-out;
}

/* Mouse follower */
@keyframes colorChange {
  0% { background-color: red; }
  25% { background-color: blue; }
  50% { background-color: green; }
  75% { background-color: yellow; }
  100% { background-color: red; }
}

.mouse-follower {
  animation: colorChange 4s infinite;
}